body div.container
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; /* Three columns with equal width */
	grid-template-rows: 100px 200px; /* Two rows with fixed heights */
	grid-gap: 10px; /* Gap between grid items */
}

.grid-item {
	background-color: #f2f2f2;
	padding: 20px;
	text-align: center;
}

.item1 {
	grid-column: 1 / span 2; /* Spanning two columns */
	grid-row: 1; /* Placed in the first row */
}

.item2 {
	grid-column: 3; /* Placed in the third column */
	grid-row: 1 / span 2; /* Spanning two rows */
}

.item3 {
	grid-column: 1; /* Placed in the first column */
	grid-row: 2;/* Placed in the second row */
}

.item4 {
	grid-column: 2; /* Placed in the second column */
	grid-row: 2; /* Placed in the second row */
}
